@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

.Page-Layout {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;

  header {
    height: 100px;

    .Logo {
      position: absolute;
      height: 100px;
    }

    nav {
      background: #46924a;
      display: flex;
      flex-direction: row-reverse;
      padding: 0 20px 0 100px;
      height: -webkit-fill-available;
      align-items: center;

      button,
      a {
        font-size: 18px;
        line-height: 42px;
        background: transparent;
        border: none;
        text-decoration: none;
        color: #fff;
        cursor: pointer;
        transition: all 0.3s linear;
        padding: 5px 10px;

        &:hover,
        &.active {
          background: #fff;
          color: #46924a;
        }
      }
    }
  }

  main {
    flex-grow: 1;
    padding: 50px 20px 40px;
  }

  footer {
    padding: 20px;
    background: #46924a;
    color: #fff;
    text-align: center;
  }
}
